@use 'constants' as *;
@use 'sass:math';

// fluid плавно изменяет значение
// пропорционально от desktop-ширины до mobile
@function fluid($max: 100, $min: 10, $isEndOfLaptop: false) {
	$maxViewportWidth: $container-desktop-width;
	$minViewportWidth: 390;

	@if ($isEndOfLaptop) {
		$minViewportWidth: $container-laptop-width;
	}

	$maxSize: math.div($max, 16);
	$minSize: math.div($min, 16);
	$maxWidth: math.div($maxViewportWidth, 16);
	$minWidth: math.div($minViewportWidth, 16);

	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
	$yAxisIntersections: -$minWidth * $slope + $minSize;

	@return clamp(
		#{$minSize * 1rem},
		#{$yAxisIntersections * 1rem} + #{$slope * 100vw},
		#{$maxSize * 1rem}
	);
}
// fluid-to-laptop изменяет значение лишь в диапазоне от desktop до laptop
// и далее (вплоть до mobile ширины) значение остаётся неизменным
@function fluid-to-laptop($max: 100, $min: 10) {
	@return fluid($max, $min, true)
}